apiVersion: batch/v1
kind: Job
metadata:
  name: db-migrations
  labels:
    app: migrations
spec:
  backoffLimit: 1
  template:
    metadata:
      labels:
        app: migrations
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: registry-secret
      containers:
        - name: migrations
          image: registry.digitalocean.com/fishing-map-prod/migrations:latest
          env:
            - name: NODE_ENV
              value: "production"

            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: fishing-map-secrets
                  key: DB_HOST

            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: fishing-map-secrets
                  key: DB_PORT

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: fishing-map-secrets
                  key: DB_NAME

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: fishing-map-secrets
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fishing-map-secrets
                  key: DB_PASSWORD

            - name: DB_SCHEMA
              valueFrom:
                secretKeyRef:
                  name: fishing-map-secrets
                  key: DB_SCHEMA

            - name: DB_SSL
              value: "require"
